.cell {
	display: table-cell;
	cursor: pointer;
	width: 150px;
	height: 150px;
	font-size: 48px;
	font-weight: 700;
	color: black;
    text-shadow: -0.5px 0.5px 2px rgba(255,255,255,1);
	margin: 0;
	text-align: center;
	vertical-align: middle;
	background: #eef;
	border-right: solid 1px black;
	&:last-child {
		border: none;
	}
	&:hover {
		background: #ddf;
	}
	&.occupied, .end & {
		cursor: inherit;
		background: #eef;
	}
	&.win, &.lose {
		color: #666;
	}
	&.win {
		background: #ddffdd;
	}
	&.lose {
		background: #ffdddd;
	}
}
