@import '../../../node_modules/normalize.css/normalize.css';
@import '../variables.scss';
 
/*
 * Base styles
 * ========================================================================== */
 
html {
	color: #4d4d4d;
	font-weight: 100;
	font-size: 1em; /* ~16px; */
	font-family: $font-family-base;
	line-height: 1.375; /* ~22px */
}
body {
	background: #eee;
}
 
.container {
	margin: 0 auto;
	padding: 0 0 40px;
	max-width: $max-content-width;
}
.table {
	display: table;
	position: relative;
	border: solid 1px black;
	user-select: none;
	margin: 0 auto;
	box-shadow: 2px 2px 5px #999;
 }
 h1 {
 	text-align: center;
 }

 button {
    text-align: center;
    margin: 10px auto;
    width: 25%;
    text-transform: uppercase;
    padding: 10px;
    display: inherit;
    letter-spacing: 2px;
    color: #999;
    &:hover {
    	// color: #444;
    	font-weight: 700;
    }
    cursor: pointer;
}
