.modal {
	position: absolute;
	display: table;
	top: 0;
	left: 0;
	height: 455px;
	width: 100%;
	&.hide {
		display: none;
	}
	z-index: 0;

	.back {
		background: rgba(0,0,0,0.5);
		position: absolute;
		width: 100%;
		height: 100%;
		// border-radius: 8px;
		z-index: -1;
	}
	.front {
		padding: 20px;
		display: inline-block;
		color: #f00;
		text-align: center;
		text-shadow: 2px 2px 2px black;
		display: table-cell;
		vertical-align: middle;
		&.win {
			color: #0f0;
		}
		&.draw {
			color: #c0c0c0;
		}
	}

	h1 {
		font-weight: 100;
		letter-spacing: 3px;
		font-size: 40px;
	}
}
 